<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html ng-app="EmployeeApp">
<head>
    <title>Orderring People</title>     
     <meta name="viewpoint" content="width=device-width, intitial-scale=1.0">

    <link rel="stylesheet" href="resources/Bootstrap/css/bootstrap.min.css">
   
  <link rel="stylesheet" href="resources/CSS/newstyle.css">

    <script type="text/javascript" src="resources/Bootstrap/js/angular.min.js"></script>
    <script src="resources/javascript/view1.js"> </script>
        
</head>

<body ng-controller="empCtrl">
<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-header">
    <h2 align="center" > <font face="Cooper Black" color="#000099"> ITEM DESCRIPTION </font></h2>
    </div>

</div>


<section>
<div  class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">     
   
         <tr>
            <th colspan="5"><input ng-model="query" class="form-control" placeholder="Search ..." type="text"/></th>
        </tr><br><br>
            <div class="row">
                <div class="col-lg-4">
            <thead>
            <tr>
                <th>NAME</th>
                <th>CATEGORY</th>
                <th>PRICE</th>
                <th>DESCRIPTION</th>
            </tr>
            </thread>
        </div></div>
        </table>
        </div>
        <div  class="tbl-content">
            <table cellpadding="0" cellspacing="5" border="0">
            <br><br>
            <tbody>
                <tr ng-repeat="emp in employees | filter:query">
                <td>{{emp.NAME}}</td>
                <td>{{emp.CATEGORY}}</td>
                <td>{{emp.PRICE}}</td>
                <td>{{emp.DESCRIPTION}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</section>
</div>
</body>
</html>
